.App {
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(#c9cebd, #727a6a);
}

body {
  margin: 0;
  padding: 0px;
  background-color: #727a6a !important;
  height: max-content;
}

:root {
  margin: 0;
  padding: 0;
  height: 100vh;
}